/* -----Normalize----- */

/* {
	box-sizing: border-box; поля,отступы и границы добавляются внутрь блока
	margin: 0;
	padding: 0;
} */

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role='list'],
ul[role='list'] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: 'Source Serif 4', serif;
	scrollbar-gutter: stable;
}

/* ------------------------------------------------------ */
body {
	background: #ffffff;
	margin: 0 auto;
	-ms-overflow-style: none; /* IE и Edge */
	scrollbar-width: none; /* Firefox */
}

body.no-scroll {
	overflow: hidden;
}

::selection {
	background: rgba(200, 137, 237, 0.701);
	color: #000000;
}

/* -----Header------- */
.header {
	position: sticky;
	top: 0;
	padding: 2px;
	z-index: 20;

	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);

	border: 1px solid rgba(255, 255, 255, 0.1);

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.header__block {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 800px;

	font-size: 16px;
	font-weight: 300;
	line-height: 150%;
}

.header a {
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	line-height: 150%;
	text-decoration: none;
}

.header__links a {
	cursor: pointer;
}

/* ------------------------------------------------------------- */
.logo__car {
	display: block;
	width: 100%;
}
/* ---------------------------------------------------------- */

.container {
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
}

.title__right {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

.title {
	margin: 0 auto;
	text-align: center;
	font-weight: 400;
	background-color: #ffffff6f;
}

.subtitle {
	font-size: 24px;
	word-spacing: 4px;
	font-weight: 400;
	text-transform: none;
}

.title__top {
	margin-top: 80px;
}

.title__big {
	padding: 10px;
	color: rgb(0, 0, 0);
	font-size: 40px;
	line-height: 50px;
	transition: 0.2s;

	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(12px);

	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.1);

	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.title__big:hover {
	background: rgba(255, 255, 255, 0.4);
	span {
		color: #000000;
	}
	font-weight: 300;
	cursor: default;
}

.title__colored {
	color: rgba(0, 0, 0, 0.67);
	font-size: 41px;
	word-spacing: 5px;
	font-weight: 500;
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {
	.title__colored {
		font-size: 7vw;
	}
}

.btm-main {
	position: absolute;
	right: 3%;
	top: 7%;
}

.btn {
	min-width: 250px;
	min-height: 52px;
	margin: 0 auto;
	padding: 0 15px;
	display: block;
	border-radius: 2px;
	border: none;
	cursor: pointer;
	background: linear-gradient(110deg, #000 50%, #ffc131 50%);
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
	font-size: 21px;
	font-weight: 500;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	transition: transform 0.3s ease;
}

.btn:hover {
	background: linear-gradient(110deg, #1a1a1a 55%, #ffcc00 55%);
	transform: scale(1.02);
}

@media screen and (max-width: 768px) {
	.btn {
		min-width: 300px;
		min-height: 73px;
	}
}

.logo__img {
	width: 240px; /* задать нужную ширину для логотипа */
	height: auto;
}

.logo__text {
	margin-left: -60px;
	width: 250px;
	text-align: left;
	color: rgb(5, 28, 52);
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-family: 'Caveat', serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 900;
}

/* ------------- Logo effect--------------------------------- */

.logo__text:hover {
	color: rgb(28, 76, 129);
	cursor: default;
}
/* ---------------------- Promo -------------------------- */

.promo {
	position: relative;
	margin-top: -40px;
	width: 100%;
	aspect-ratio: 5504 / 3072;
	overflow: hidden;
	background: url('../img/main/main-bg.png') center center / cover no-repeat;
	clip-path: polygon(0 8vw, 100% 0, 100% 100%, 0 100%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 0;
}

.promo h1 {
	font-weight: 500;
	width: auto;
	text-align: center;
	text-transform: uppercase;
	cursor: default;
}

.promo h1::before {
	font-weight: 900;
}

.promo h2 {
	max-width: 800px;
	width: 100%;
	text-align: center;
	-webkit-box-shadow: 0px 5px 15px 6px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 15px 6px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 15px 6px rgba(34, 60, 80, 0.2);
}

.promo .btn {
	margin-top: 40px;
}

.promo__text {
	margin-top: 50px;
	color: #ffffff;
	text-align: center;
	font-size: 21px;
	font-weight: 500;
	line-height: 1.5;

	max-width: 850px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;

	background: rgba(18, 19, 30, 0.4);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(12px);

	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.1);

	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.promo__text span {
	display: block;
	margin-top: 15px;
	color: #f9bf3b;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 15px rgba(249, 191, 59, 0.3);
}

/* Адаптив под мобилки */
@media (max-width: 768px) {
	.promo__text {
		font-size: 18px;
		padding: 20px;
		width: 90%;
		margin-top: 30px;
	}
}

.title span {
	color: #f9bf3b;
	transition: 0.2s;
	font-weight: 400;
}

.promo__more-text {
	margin-top: 30px;
	color: #538ed6;
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.promo__more-img {
	display: block;
	margin: 10px auto 0 auto;
}

.intensive {
	background-color: #efefef;
	padding: 80px 0;
}

.intensive__title {
	color: #252525;
	font-size: 30px;
	font-weight: 500;
}

.intensive__subtitle {
	margin-top: 15px;
	color: #4a4a4a;
	text-align: center;
	font-size: 23px;
	font-weight: 500;
}

.intensive__wrapper {
	display: block;
	margin-top: 30px;
}

/* логотип */

.logo-main {
    display: block;
	margin-left: 60px;
    z-index: 1000;

    max-width: 140px;
    height: auto;

    cursor: default;
}


.intensive__item {
	width: 360px;
}

.intensive__img {
	width: 342px;
	height: 210px;
	object-fit: cover;
	width: 100%;
}

.intensive__descr {
	margin-top: 15px;
	color: #4a4a4a;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}

.info {
	min-width: 564px;
	background-color: #0f0b0b;
	padding: 100px 0 140px 0;
}

.info__title {
	color: #f9bf3b;
	font-size: 30px;
	text-align: right;
}

.info__text {
	position: relative;
	padding-left: 390px;
	margin-top: 19px;
	color: #ffff;
	text-align: right;
	font-size: 16px;
	font-weight: 300;
	z-index: 2;
}

.info__text.medium {
	font-weight: 500;
}

.info__img {
	width: 615px;
	height: 351px;
	object-fit: cover;
	position: absolute;
	top: 83px;
	left: -83px;
	z-index: 1;
}

.road__top {
	background: url('../img/RoadTop.png') center center / cover no-repeat;
	margin: 30px 0px 3px 0px;
	height: 220px;
}

.skills__title {
	color: #efefef;
	font-size: 30px;
	font-weight: 400;
}

.skills__wrapper {
	display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
}

.skills__item {
	width: 224px;
}

.pay__rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 160px;
	height: 85px;
	background-color: #03dd0795;
	border-radius: 10px;
}

.skills__img {
	max-width: 110px;
}

.skills__desc {
	margin-top: 18px;
	text-align: center;
	color: #000000;
	font-size: 20px;
	font-weight: 400;
}

/* ----Present---- */
.present__intensive {
	background-color: white;
	padding: 0px 0 105px 0;
}

.present__img {
	width: 100px;
	display: block;
	margin: 0 auto;
}

.present__text {
	max-width: 800px;
	margin-top: 40px;
	margin-bottom: 60px;
	color: #4a4a4a;
	text-align: center;
	font-size: 21px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
}

.present__wrapper {
	display: flex;
	justify-content: center;
}

/* -------Webinar-------- */

.webinar {
	background-color: #41d8d3;
	padding: 50px 0;
}

.webinar__img {
	width: 500px;
	height: 250px;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}

.webinar__subtitle {
	margin-top: 40px;
	color: #fff;
	font-size: 30px;
	font-weight: 500;
}

.webinar__title {
	margin-top: 20px;
	color: #f9bf3b;
	font-size: 36px;
	line-height: 36px;
}

.webinar__cta {
	margin-top: 20px;
	color: #efefef;
	text-align: center;
	font-size: 23px;
	font-weight: 500;
}

/* --------------------- Оплата ------------------------ */
.pay__wrapper {
	display: block;
	text-align: center;
	margin: 0 auto;
	max-width: 800px;
}

.pay__text {
	max-width: 800px;
	margin-top: 40px;
	margin-bottom: 100px;
	color: #4a4a4a;
	text-align: center;
	font-size: 21px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
}

/* ------------------- Бегущая строка ------------------------ */

.scrolling-container {
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.scrolling-wrapper {
	display: inline-block;
	animation: scroll 60s linear infinite;
}

.scrolling-wrapper img {
	width: 80vh;
	height: 400px;
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 10px;
	max-inline-size: none;
	object-fit: cover;
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}

@media (max-width: 768px) {
	.scrolling-wrapper img {
		width: 80vw; /* увеличил ширину для мобильных */
		margin: 0 5px;
	}

	.scrolling-wrapper {
		animation-duration: 60s;
	}
}
/* ----------- Бренды авто -------------------- */

.container__brands {
	display: flex;
	justify-content: space-around;
	position: relative;
	max-width: 100%;
	background-color: #fff;
	padding-top: 20px;
}

.brands__logo {
	height: 100%;
	display: flex;
	justify-content: space-between;
	gap: 110px;
}

@media (max-width: 768px) {
	.brands__logo {
		flex-direction: column;
		align-items: center;
	}
	.brands__logo img {
		height: auto;
	}
}

/* ------------------ Дорога нижняя картинка -------------------- */
.road__bottom {
	background: url('../img/RoadButtom.png') center center / cover no-repeat;
	margin: 0px 0px 0px 0px;
	height: 400px;
}

@media screen and (max-width: 768px) {
	.road__bottom {
		width: 100%;
		height: 120px;
	}
}

/* ---------- Map ------------------------------------ */

.map__address {
	height: 400px;
	margin: 20px;
	padding: 0; /* Поля вокруг текста */
	-webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
}

/* -----Footer------- */
.footer {
	display: block;
	height: 500px;
	background-color: #12131ee0;
	padding: 150px 0 30px 0;
	color: #ffffff;
	position: relative;
	border-top: 2px solid #f9bf3b;
}

.footer__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.footer__block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

.footer__section {
	flex: 1;
	min-width: 250px;
}

.footer__contacts p {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
	color: #e8f1fb;
}

.footer__link {
	display: block;
	font-size: 20px;
	color: #f9bf3b;
	text-decoration: none;
	font-weight: 500;
	transition: 0.3s;
}

.footer__link:hover {
	color: #ffffff;
	transform: translateX(5px);
}

/* глянцевый эффект на иконках */
.social-icons {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.social-icons a {
	width: 45px;
	height: 45px;
	background: linear-gradient(
			180deg,
			rgba(187, 184, 184, 0.84) 0%,
			rgba(205, 199, 199, 0.826) 100%
		),
		#1e2030;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.social-icons a svg {
	width: 27px;
	height: 27px;
}

.social-icons a:hover {
	background: #f9bf3b;
	color: #12131e;
	transform: scale(1.1);
}

.logo__footer {
	text-align: right;
	font-family: 'Caveat', serif;
	font-size: 32px;
	font-weight: 900;
}

.logo__footer span {
	color: #f9bf3b;
}

.footer__hr {
	border: 0;
	height: 1px;
	background: linear-gradient(
		90deg,
		transparent,
		rgba(255, 255, 255, 0.1),
		transparent
	);
	margin: 40px 0 20px 0;
}

.footer__copyright {
	text-align: center;
	font-size: 14px;
	color: #666;
	font-weight: 300;
}

@media (max-width: 768px) {
	.footer__block {
		flex-direction: column;
		text-align: center;
	}
	.footer__link {
		text-align: center;
	}
	.logo__footer {
		text-align: center;
	}
}

/* --------------------------------------------------------------------------- */

@media (max-width: 768px) {
	.logo {
		margin: 80px;
	}
}

@media (max-width: 768px) {
	.header__block {
		flex-direction: column;
		align-items: center;
		gap: 1vh;
	}

	.header__links a,
	.header__block > a {
		font-size: 4vw;
	}
}

@media (max-width: 768px) {
	.logo__text {
		text-align: center;
	}
}

/* Стили для СВАЙПЕРА */
.slider-header {
	text-align: center;
	margin-top: 60px;
}

.title-slider {
	font-size: 36px;
	font-weight: 600;
	color: #000c41;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.subtitle-slider {
	margin-top: 10px;
	font-size: 20px;
	color: #000c41;
	font-weight: 500;
	letter-spacing: 2px;
}

/* ДО / ПОСЛЕ */
.slider-block {
	width: 50%;
	text-align: center;
}

@media (max-width: 768px) {
	.compare__wrapper {
		margin-left: 7px;
		margin-right: 7px;
	}
	.slider-block {
		width: 100%;
	}
}

.slider-label {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background: linear-gradient(110deg, #000 50%, #ffc131 50%);
	display: inline-block;
	padding: 6px 20px;
	border-radius: 20px;
	letter-spacing: 1px;
}

.compare {
	margin-top: 100px;
}

.compare__wrapper {
	display: flex;
	gap: 20px;
	margin-top: 60px;
	margin-bottom: 100px;
}

.beforeSwiper,
.afterSwiper {
	position: relative;
	width: 100%;
	height: 700px;
	border-radius: 10px;
}

.swiper-slide img {
	width: 100%;
	height: 700px;
	object-fit: cover;
	border-radius: 10px;
}

/* Стрелки */

.beforeSwiper .swiper-button-prev,
.beforeSwiper .swiper-button-next {
	color: white;
	background: rgba(255, 255, 255, 0.5);
	width: 44px;
	height: 44px;
	border-radius: 50%;

	top: 50%;
	transform: translateY(-50%);
	margin-top: 0; /* убрать кривизну чтобы кнопки были по центру */

	backdrop-filter: blur(5px);
	box-shadow: 0 4px 15px rgba(255, 255, 255, 0.185);
	transition: transform 0.3s;
}

.beforeSwiper .swiper-button-prev {
	left: 15px;
}

.beforeSwiper .swiper-button-next {
	right: 15px;
}

/* уменьшаем стрелки */
.beforeSwiper .swiper-button-prev::after,
.beforeSwiper .swiper-button-next::after {
	font-size: 18px;
}

.beforeSwiper .swiper-button-prev:hover,
.beforeSwiper .swiper-button-next:hover {
	background: linear-gradient(110deg, #ffc131 45%, #000000 50%);
	transform: translateY(-50%) scale(1.1);
}

/* адаптив */
@media (max-width: 768px) {
	.compare__wrapper {
		flex-direction: column;
	}

	.beforeSwiper,
	.afterSwiper {
		width: 100%;
	}

	.beforeSwiper .swiper-button-prev,
	.beforeSwiper .swiper-button-next {
		width: 36px;
		height: 36px;
	}
}

/* 1. Лечим кнопки и инфо-блоки */
@media screen and (max-width: 1024px) {
	.info {
		min-width: 0 !important; /* Убиваем фиксацию */
		width: 100%;
		padding: 50px 20px;
	}

	.intensive__item {
		width: 100%; /* Переводим на проценты */
		max-width: 360px;
		margin: 0 auto;
	}

	.btn {
		min-width: 0 !important; /* Разрешаем кнопке сжиматься */
		width: 90%;
		max-width: 315px;
	}

	/* 2. Убираем вылеты за края */
	.info__img {
		position: relative;
		left: 0;
		width: 100%;
		height: auto;
	}

	.info__text {
		padding-left: 20px; /* Убираем огромный паддинг в 390px */
		text-align: center;
	}
}

/* ----------------  Услуги  ------------------ */

.title__services {
	margin-top: 150px;
	font-size: 36px;
	font-weight: 600;
	color: #000c41;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.services__grid {
	display: flex;
	justify-content: space-between;
	gap: 25px;
	padding: 60px 0;
}

.services__item {
	flex: 1;
	background: #1e2030;
	border-radius: 12px;
	overflow: hidden;
	height: fit-content;
}

.services__img-wrapper {
	position: relative;
	height: 250px;
}

.services__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.services__badge {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
	color: #fff;
	padding: 20px;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

/* Кнопка-триггер (глянец) */
.btn-glossy-trigger {
	width: 100%;
	padding: 18px;
	border: none;
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	transition: 0.3s;
	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.2) 0%,
			rgba(255, 255, 255, 0) 50%
		),
		linear-gradient(110deg, #ffc131 49%, #000000 51%);
}

.btn-glossy-trigger:hover {
	filter: brightness(1.1);
}

/* Аккордеон (Прайс-лист) */
.services__price-list {
	display: grid;
	grid-template-rows: 0fr; /* Начальное состояние - скрыто */
	transition: grid-template-rows 0.4s ease-out, padding 0.4s;
	padding: 0 20px;
	background: #161726;
	overflow: hidden;
}

.services__price-inner {
	overflow: hidden;
}

/* Когда активен */
.services__item.active .services__price-list {
	grid-template-rows: 1fr;
	padding: 20px 20px 7px 20px;
}

.price-item {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	font-size: 15px;
	color: #e8f1fb;
	opacity: 0; /* Для анимации появления текста */
	transition: 0.3s;
}

.services__item.active .price-item {
	opacity: 1;
}

.btn-order-small {
	margin-bottom: 15px;
	margin-top: 15px;
	background: #f9bf3b;
	border: none;
	padding: 10px;
	border-radius: 4px;
	font-weight: 700;
	cursor: pointer;
}

@media (max-width: 768px) {
	.services__grid {
		flex-direction: column;
	}
}
